<div class="eqLogic eqLogic-widget allowResize allowLayout #custom_layout#  #category#"
      style="min-height: 230px;min-width:230px; position: relative; width:#width#; height:#height#;
             background-color:#background-color#; color:#color#; border:#border#; border-radius:#border-radius#;#style#"
      data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-cat_color="#catcolore#"
      data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#">

        <center class="widget-name">
                <span class="warning" title="#alert_name#">
                        <i class='#alert_icon#'></i>
                </span>
        <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
                        <i class="fas fa-sync"></i>
                </span>
                <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
                <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
        </center>

        <center class="row">
        <div class="col-xs-12">
          <div class="circle1" style="font-size: 40em; display: inline-block; width: 0.4em; height: 0.4em; border: 5px solid #CECECE;margin-left: 1px;margin-top: 1px; border-radius: 0.35em;position :relative;">
          <div class="circle2" style="font-size: 0.95em; width: 0.4em; height: 0.4em; border: 44px solid black; border-radius: 0.40em;position :absolute;"></div>
          <div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-cmd_id="#thermostat_cmd_id#" style="width : 215px;height : 215px;display : block;">
            <i class="fa fa-circle circle" style="font-size: 10.5em;margin-left: 0px;margin-top: 44px;position :relative;"></i>
              <div style="margin-top : -122px;margin-left : 50px; position :absolute; " >
                  <input class="dial" value="#order#" data-role="none" data-width="116" data-height="116" />
              </div>
          <div class="scale" style="font-weight:bold; position: absolute; top: 75px; left : 135px; color: white;">
              °#scale#
          </div>
          <div>
          <i class="fa fa-power-off cool cursor" style="font-size: 2.5em; position : absolute;top : 185px;left : -2px;"></i>
          <i style="font-size:1.8em;font-weight:bold; position : absolute; top: 200px; left: 175px;" class="eco1 cursor">Éco</i>
          <i class="fa fa-leaf leaf" style="font-size: 1.5em; position : absolute;margin-top : -30px;margin-left : -10px;"></i>
          <i class="fa fa-eye auto" style="font-size: 1.8em; position : absolute;margin-top : -155px; margin-left: 15px;color:#5a5a5a";></i>
          <i class="fa fa-home home cursor" style="font-size: 1.8em;position : absolute;margin-top : -155px;margin-left: -40px; color: initial;"></i>
          <i class="icon jeedom-mouvement away cursor" style="font-size: 1.8em;position : absolute;margin-top : -155px;margin-left: -40px;"></i>
          <span style="font-size : 1.2em;font-weight: bold;position: absolute; margin-left : -40px;margin-top: 5px; color: white;"><div id="display"></div></span>
          <div style="font-size:2em; position : absolute;margin-left: 80px;margin-top: -72px;" class="stop">Éteint</div>
          <div style="font-size:0.8em; position : absolute;margin-left: 86px;margin-top: 25px;" class="eco">Mode Éco</div>
          </div>
          </div>
                <script>
                var d1 = #temperature#;
                var d2 = #humidity#;
                document.getElementById("display").innerHTML = d1 + "°#scale# / " + d2 + "%";

                $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
                    jeedom.cmd.execute({id: '#refresh_id#'});
                });

                if ('#auto_away#' == '1') {
                    $('.eqLogic[data-eqLogic_uid=#uid#] .auto').css('color', 'white');
                }
                    if ('#manual_away#' == '0') {
                        $('.eqLogic[data-eqLogic_uid=#uid#] .home').css('color', 'white');
                                                $('.eqLogic[data-eqLogic_uid=#uid#] .away').hide();
                    } else {
                        $('.eqLogic[data-eqLogic_uid=#uid#] .away').css('color', 'white');
                                                $('.eqLogic[data-eqLogic_uid=#uid#] .home').hide();
                    }
                if ('#leaf#' == '1') {
                    $('.eqLogic[data-eqLogic_uid=#uid#] .leaf').css('color', '#99FF00');
                } else {
                    $('.eqLogic[data-eqLogic_uid=#uid#] .leaf').hide();
                }

                $('.eqLogic[data-eqLogic_uid=#uid#] .home').on('click', function () {
                    jeedom.cmd.execute({id: '#away_on_id#'});
                });
                $('.eqLogic[data-eqLogic_uid=#uid#] .away').on('click', function () {
                    jeedom.cmd.execute({id: '#away_off_id#'});
                });

                        if (('#mode#' == 'off\,away') || ('#mode#' == 'off') || ('#mode#' == 'off\,manual-eco')){
                                $('.eqLogic[data-eqLogic_uid=#uid#] .cool').on('click', function () {
                    jeedom.cmd.execute({id: '#cool_id#'});
                });
                        } else {
                                $('.eqLogic[data-eqLogic_uid=#uid#] .cool').on('click', function () {
                    jeedom.cmd.execute({id: '#off_id#'});
                });
                                }

                   if ('#eco_mode#' == '0') {
                                $('.eqLogic[data-eqLogic_uid=#uid#] .eco1').on('click', function () {
                    jeedom.cmd.execute({id: '#away_mode_on_id#'});
                                 });
                  } else {
                                $('.eqLogic[data-eqLogic_uid=#uid#] .eco1').on('click',  function () {
                    jeedom.cmd.execute({id: '#away_mode_off_id#'});
                });
                        }
                        $.include(['plugins/nest/core/template/jquery.knob.js'], function () {
                        $(".eqLogic[data-eqLogic_uid=#uid#] .cmd[data-cmd_id=#thermostat_cmd_id#] .dial").knob({
                            step: 0.5,
                                fgColor: "#ffffff",
                                cursor:4,
                                noScroll: true,
                                angleOffset:210,
                                angleArc:300,
                            release: function (v) {
                                jeedom.cmd.execute({id: '#thermostat_cmd_id#', value: {slider: v}});
                            },
                            draw: function () {
                                setTimeout(function () {
                                    $(".cmd[data-cmd_id=#id#] .dial").css('margin-top', '0px');
                                    setTimeout(function () {
                                        $(".cmd[data-cmd_id=#id#] .dial").css('margin-top', '33px');
                                    }, 100);
                                }, 200);
                            }
                        });
                        if ('#scale#' == 'F') {
                         $('.dial').trigger(
                          'configure',{"min":50,"max":90,"step":1}
                         );
                        } else {
                         $('.dial').trigger(
                          'configure',{"min":9,"max":32}
                          );
                        };
                        if (('#mode#' == 'off\,away') || ('#mode#' == 'off') || ('#mode#' == 'off\,manual-eco')){
                        $('.eqLogic[data-eqLogic_uid=#uid#] .power-off').css('color', 'red');
                        $('.eqLogic[data-eqLogic_uid=#uid#] .circle').css('color', 'black');
                        $('.eqLogic[data-eqLogic_uid=#uid#] .eco1').hide();
                        $('.eqLogic[data-eqLogic_uid=#uid#] .dial').hide();
                        <!--$('.eqLogic[data-eqLogic_uid=#uid#] .leaf').hide();-->
                        $('.eqLogic[data-eqLogic_uid=#uid#] .scale').hide();
                        $('.dial').trigger(
                          'configure',{"min":0,bgColor: "black",fgColor: "black"}
                         );
                        } else {
                        $('.eqLogic[data-eqLogic_uid=#uid#] .stop').hide();
                        $('.eqLogic[data-eqLogic_uid=#uid#] .power-off').hide();
                        $('.eqLogic[data-eqLogic_uid=#uid#] .circle').css('color', 'gray');
                        $('.dial').trigger(
                          'configure',{bgColor: "gray"}
                         );
                        };
                        if ('#eco_mode#' == '1') {
                        $('.eqLogic[data-eqLogic_uid=#uid#] .eco').css('color', '#33FF33');
                        $('.eqLogic[data-eqLogic_uid=#uid#] .circle').css('color', '#20FFB1');
                        $('.dial').trigger(
                          'configure',{bgColor: "#20FFB1"}
                         );
                        } else {
                        $('.eqLogic[data-eqLogic_uid=#uid#] .eco').css('color', '#696969');

                        };
                        if ('#heat#' == '1') {
                        $('.eqLogic[data-eqLogic_uid=#uid#] .circle').css('color', '#FF9900');
                                                $('.dial').trigger(
                          'configure',{bgColor: "#FF9900"}
                         );
                        }
                    });
                </script>
            </div>
        </div>
    </center>
</div>
