<div class="eqLogic-widget eqLogic" style="background-color: #background_color#; #style#" data-eqLogic_id="#id#" data-version="mobile" >
    <div title="#collectDate#" >
        <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
        <center><strong><a href="#eqLink#" style="font-size : 1.1em;"> #name# </a></strong></center>
        <center>
            <span style="font-size : 1.2em; font-weight: bold;">#temperature# °C / #humidity# %</span>
        </center>

        <span class="cmd cmd-widget" data-cmd_id="#auto_away_on_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#away_off_id#" style="display:none;"></span>
        <span class="cmd cmd-widget" data-cmd_id="#away_on_id#" style="display:none;"></span>

        <i class="fa fa-home home cursor" style="font-size: 3em;margin-left: 2px;color:#3498db"></i>
        <i class="fa fa-eye auto cursor" style="font-size: 3em;margin-left: 5px;color:#3498db"></i>
        <i class="icon jeedom-mouvement away cursor" style="font-size: 3em;margin-left: 5px;color:#3498db"></i>
        <script>
            if ('#auto_away#' == '1') {
                $('.eqLogic[data-eqLogic_id=#id#] .auto').css('color', 'white');
            } else {
                if ('#manual_away#' == '0') {
                    $('.eqLogic[data-eqLogic_id=#id#] .home').css('color', 'white');
                } else {
                    $('.eqLogic[data-eqLogic_id=#id#] .away').css('color', 'white');
                }
            }
            $('.eqLogic[data-eqLogic_id=#id#] .auto').on('click', function () {
                jeedom.cmd.execute({id: '#auto_away_on_id#'});
            });
            $('.eqLogic[data-eqLogic_id=#id#] .home').on('click', function () {
                jeedom.cmd.execute({id: '#away_off_id#'});
            });
            $('.eqLogic[data-eqLogic_id=#id#] .away').on('click', function () {
                jeedom.cmd.execute({id: '#away_on_id#'});
            });
        </script>
        <center>
            <div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-thermostat_id="#thermostat_cmd_id#" style="width : 100px;height : 100px;display : block;">
                <div style="margin-top : 5px;">
                    <input type="text" class="dial" data-role="none" value="#order#" data-min="#thermostat_minValue#" data-max="#thermostat_maxValue#" data-width="100" data-height="100" />
                </div>
                <script>
                    $.include(['plugins/nest/core/template/mobile/jquery.kontrol.js'], function () {
                        $(".cmd[data-thermostat_id=#thermostat_cmd_id#] .dial").dial({
                            bgColor: "#3498db",
                            fgColor: '#FFFFFF',
                            noScroll: true,
                            change: function (v) {
                                jeedom.cmd.execute({id: '#thermostat_cmd_id#', value: {slider: v}});
                            },
                        });
                    });
                </script>
            </div>
        </center>
    </div>
</div>

